In [30]:
import pandas as pd

In [31]:
crime_set_df=pd.read_csv(r"C:\Users\abims\Downloads\crime_data_New.csv")
crime_set_df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,5741943,HN549294,2007-08-25 09:22:18,074XX N ROGERS AVE,560,ASSAULT,SIMPLE,OTHER,False,False,...,49.0,1.0,08A,NaN,NaN,2007,2015-08-17 15:03:40,NaN,NaN,NaN
1,25953,JE240540,2021-05-24 15:06:00,020XX N LARAMIE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,36.0,19.0,01A,1141387.0,1913179.0,2021,2023-11-18 15:39:49,41.917838,-87.755969,"(41.917838056, -87.755968972)"
2,26038,JE279849,2021-06-26 09:24:00,062XX N MC CORMICK RD,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,50.0,13.0,01A,1152781.0,1941458.0,2021,2023-11-18 15:39:49,41.995219,-87.713355,"(41.995219444, -87.713354912)"
3,13279676,JG507211,2023-11-09 07:30:00,019XX W BYRON ST,620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,47.0,5.0,5,1162518.0,1925906.0,2023,2023-11-18 15:39:49,41.952345,-87.677975,"(41.952345086, -87.677975059)"
4,13274752,JG501049,2023-11-12 07:59:00,086XX S COTTAGE GROVE AVE,454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,6.0,44.0,08B,1183071.0,1847869.0,2023,2023-12-09 15:41:24,41.737751,-87.604856,"(41.737750767, -87.604855911)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549994,1715153,G516233,2001-08-27 23:00:00,036XX S LAKE PARK AV,4387,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,RESIDENCE,False,True,...,NaN,NaN,26,1182305.0,1881212.0,2001,2015-08-17 15:03:40,41.829265,-87.606630,"(41.829264761, -87.606629868)"
549995,1799889,G625392,2001-10-16 16:30:00,065XX S STEWART AV,610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,NaN,NaN,5,1174713.0,1861451.0,2001,2015-08-17 15:03:40,41.775211,-87.635073,"(41.775211478, -87.635073388)"
549996,1769834,G583569,2001-09-29 05:35:00,031XX N CENTRAL PARK AV,460,BATTERY,SIMPLE,RESIDENCE,False,True,...,NaN,NaN,08B,1151878.0,1920763.0,2001,2015-08-17 15:03:40,41.938449,-87.717224,"(41.938448908, -87.717224032)"
549997,1788327,G610965,2001-09-12 09:05:00,065XX S CICERO AV,910,MOTOR VEHICLE THEFT,AUTOMOBILE,OTHER,True,False,...,NaN,NaN,7,1145544.0,1861043.0,2001,2015-08-17 15:03:40,41.774692,-87.742015,"(41.774692006, -87.742014699)"
549998,1810693,G627247,2001-10-18 17:34:00,053XX W FERDINAND ST,2092,NARCOTICS,SOLICIT NARCOTICS ON PUBLICWAY,SIDEWALK,True,False,...,NaN,NaN,26,1140670.0,1902673.0,2001,2015-08-17 15:03:40,41.889022,-87.758862,"(41.889021585, -87.758861788)"

In [32]:
crime_set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549999 entries, 0 to 549998
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    549999 non-null  int64
 1   Case Number           549999 non-null  object
 2   Date                  549999 non-null  object
 3   Block                 549999 non-null  object
 4   IUCR                  549999 non-null  object
 5   Primary Type          549999 non-null  object
 6   Description           549999 non-null  object
 7   Location Description  548326 non-null  object
 8   Arrest                549999 non-null  bool
 9   Domestic              549999 non-null  bool
 10  Beat                  549999 non-null  int64
 11  District              549999 non-null  int64
 12  Ward                  213674 non-null  float64
 13  Community Area        215093 non-null  float64
 14  FBI Code              549999 non-null  object
 15  X Coordinate          543087 non-null  float64
 16  Y Coordinate          543087 non-null  float64
 17  Year                  549999 non-null  int64
 18  Updated On            549999 non-null  object
 19  Latitude              543087 non-null  float64
 20  Longitude             543087 non-null  float64
 21  Location              543087 non-null  object
dtypes: bool(2), float64(6), int64(4), object(10)
memory usage: 85.0+ MB

In [33]:
crime_set_df_missing = pd.DataFrame(crime_set_df.isnull().sum())
crime_set_df_missing = crime_set_df_missing.reset_index()
crime_set_df_missing.rename(columns = {'index': 'Features'}, inplace = True)
crime_set_df_missing.rename(columns = {0: 'Missing_Counts'}, inplace = True)
crime_set_missing_columns_lister = list(crime_set_df_missing['Features'])
print(crime_set_missing_columns_lister)

['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude', 'Longitude', 'Location']

In [34]:
for i in range(0, len(crime_set_missing_columns_lister), 1):
  percentage_missing = (crime_set_df_missing[crime_set_df_missing['Features']==crime_set_missing_columns_lister[i]]['Missing_Counts'][i] /crime_set_df.shape[0]) * 100
  if percentage_missing > 0.0:
    print(f'Missing Percentage of column {crime_set_missing_columns_lister[i]} is {percentage_missing} %')

Missing Percentage of column Location Description is 0.304182371240675 %
Missing Percentage of column Ward is 61.150111182020325 %
Missing Percentage of column Community Area is 60.89211071292857 %
Missing Percentage of column X Coordinate is 1.256729557690105 %
Missing Percentage of column Y Coordinate is 1.256729557690105 %
Missing Percentage of column Latitude is 1.256729557690105 %
Missing Percentage of column Longitude is 1.256729557690105 %
Missing Percentage of column Location is 1.256729557690105 %

In [36]:
crime_set_df=crime_set_df.drop('Ward',axis=1)

In [37]:
crime_set_df

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,District,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,5741943,HN549294,2007-08-25 09:22:18,074XX N ROGERS AVE,560,ASSAULT,SIMPLE,OTHER,False,False,...,24,1.0,08A,NaN,NaN,2007,2015-08-17 15:03:40,NaN,NaN,NaN
1,25953,JE240540,2021-05-24 15:06:00,020XX N LARAMIE AVE,110,HOMICIDE,FIRST DEGREE MURDER,STREET,True,False,...,25,19.0,01A,1141387.0,1913179.0,2021,2023-11-18 15:39:49,41.917838,-87.755969,"(41.917838056, -87.755968972)"
2,26038,JE279849,2021-06-26 09:24:00,062XX N MC CORMICK RD,110,HOMICIDE,FIRST DEGREE MURDER,PARKING LOT,True,False,...,17,13.0,01A,1152781.0,1941458.0,2021,2023-11-18 15:39:49,41.995219,-87.713355,"(41.995219444, -87.713354912)"
3,13279676,JG507211,2023-11-09 07:30:00,019XX W BYRON ST,620,BURGLARY,UNLAWFUL ENTRY,APARTMENT,False,False,...,19,5.0,5,1162518.0,1925906.0,2023,2023-11-18 15:39:49,41.952345,-87.677975,"(41.952345086, -87.677975059)"
4,13274752,JG501049,2023-11-12 07:59:00,086XX S COTTAGE GROVE AVE,454,BATTERY,"AGGRAVATED P.O. - HANDS, FISTS, FEET, NO / MIN...",SMALL RETAIL STORE,True,False,...,6,44.0,08B,1183071.0,1847869.0,2023,2023-12-09 15:41:24,41.737751,-87.604856,"(41.737750767, -87.604855911)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549994,1715153,G516233,2001-08-27 23:00:00,036XX S LAKE PARK AV,4387,OTHER OFFENSE,VIOLATE ORDER OF PROTECTION,RESIDENCE,False,True,...,2,NaN,26,1182305.0,1881212.0,2001,2015-08-17 15:03:40,41.829265,-87.606630,"(41.829264761, -87.606629868)"
549995,1799889,G625392,2001-10-16 16:30:00,065XX S STEWART AV,610,BURGLARY,FORCIBLE ENTRY,APARTMENT,False,False,...,7,NaN,5,1174713.0,1861451.0,2001,2015-08-17 15:03:40,41.775211,-87.635073,"(41.775211478, -87.635073388)"
549996,1769834,G583569,2001-09-29 05:35:00,031XX N CENTRAL PARK AV,460,BATTERY,SIMPLE,RESIDENCE,False,True,...,14,NaN,08B,1151878.0,1920763.0,2001,2015-08-17 15:03:40,41.938449,-87.717224,"(41.938448908, -87.717224032)"
549997,1788327,G610965,2001-09-12 09:05:00,065XX S CICERO AV,910,MOTOR VEHICLE THEFT,AUTOMOBILE,OTHER,True,False,...,8,NaN,7,1145544.0,1861043.0,2001,2015-08-17 15:03:40,41.774692,-87.742015,"(41.774692006, -87.742014699)"
549998,1810693,G627247,2001-10-18 17:34:00,053XX W FERDINAND ST,2092,NARCOTICS,SOLICIT NARCOTICS ON PUBLICWAY,SIDEWALK,True,False,...,15,NaN,26,1140670.0,1902673.0,2001,2015-08-17 15:03:40,41.889022,-87.758862,"(41.889021585, -87.758861788)"

In [38]:
crime_set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549999 entries, 0 to 549998
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    549999 non-null  int64
 1   Case Number           549999 non-null  object
 2   Date                  549999 non-null  object
 3   Block                 549999 non-null  object
 4   IUCR                  549999 non-null  object
 5   Primary Type          549999 non-null  object
 6   Description           549999 non-null  object
 7   Location Description  548326 non-null  object
 8   Arrest                549999 non-null  bool
 9   Domestic              549999 non-null  bool
 10  Beat                  549999 non-null  int64
 11  District              549999 non-null  int64
 12  Community Area        215093 non-null  float64
 13  FBI Code              549999 non-null  object
 14  X Coordinate          543087 non-null  float64
 15  Y Coordinate          543087 non-null  float64
 16  Year                  549999 non-null  int64
 17  Updated On            549999 non-null  object
 18  Latitude              543087 non-null  float64
 19  Longitude             543087 non-null  float64
 20  Location              543087 non-null  object
dtypes: bool(2), float64(5), int64(4), object(10)
memory usage: 80.8+ MB

In [39]:
crime_set_df=crime_set_df.drop('Community Area',axis=1)

In [41]:
crime_set_df['X Coordinate'].describe()

count    5.430870e+05
mean     1.164788e+06
std      1.890234e+04
min      0.000000e+00
25%      1.153708e+06
50%      1.166408e+06
75%      1.176423e+06
max      1.205119e+06
Name: X Coordinate, dtype: float64

In [42]:
crime_set_df['X Coordinate'].fillna(crime_set_df['X Coordinate'].mean(), inplace = True)

C:\Users\abims\AppData\Local\Temp\ipykernel_17896\3767851260.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crime_set_df['X Coordinate'].fillna(crime_set_df['X Coordinate'].mean(), inplace = True)

In [45]:
crime_set_df['Y Coordinate'].describe()

count    5.430870e+05
mean     1.886954e+06
std      3.530500e+04
min      0.000000e+00
25%      1.860460e+06
50%      1.892009e+06
75%      1.910292e+06
max      1.951610e+06
Name: Y Coordinate, dtype: float64

In [46]:
crime_set_df['Y Coordinate'].fillna(crime_set_df['Y Coordinate'].mean(), inplace = True)

C:\Users\abims\AppData\Local\Temp\ipykernel_17896\746514978.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crime_set_df['Y Coordinate'].fillna(crime_set_df['Y Coordinate'].mean(), inplace = True)

In [48]:
crime_set_df['Latitude'].describe()

count    543087.000000
mean         41.845388
std           0.097231
min          36.619446
25%          41.772517
50%          41.859379
75%          41.909717
max          42.022878
Name: Latitude, dtype: float64

In [49]:
crime_set_df['Latitude'].fillna(crime_set_df['Latitude'].mean(), inplace = True)

C:\Users\abims\AppData\Local\Temp\ipykernel_17896\2671354677.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crime_set_df['Latitude'].fillna(crime_set_df['Latitude'].mean(), inplace = True)

In [50]:
crime_set_df['Longitude'].describe()

count    543087.000000
mean        -87.670757
std           0.067835
min         -91.686566
25%         -87.711122
50%         -87.664750
75%         -87.627942
max         -87.524532
Name: Longitude, dtype: float64

In [51]:
crime_set_df['Longitude'].describe()

count    543087.000000
mean        -87.670757
std           0.067835
min         -91.686566
25%         -87.711122
50%         -87.664750
75%         -87.627942
max         -87.524532
Name: Longitude, dtype: float64

In [52]:
crime_set_df['Longitude'].fillna(crime_set_df['Longitude'].mean(), inplace = True)

C:\Users\abims\AppData\Local\Temp\ipykernel_17896\2569312517.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  crime_set_df['Longitude'].fillna(crime_set_df['Longitude'].mean(), inplace = True)

In [53]:
crime_set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 549999 entries, 0 to 549998
Data columns (total 20 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    549999 non-null  int64
 1   Case Number           549999 non-null  object
 2   Date                  549999 non-null  object
 3   Block                 549999 non-null  object
 4   IUCR                  549999 non-null  object
 5   Primary Type          549999 non-null  object
 6   Description           549999 non-null  object
 7   Location Description  548326 non-null  object
 8   Arrest                549999 non-null  bool
 9   Domestic              549999 non-null  bool
 10  Beat                  549999 non-null  int64
 11  District              549999 non-null  int64
 12  FBI Code              549999 non-null  object
 13  X Coordinate          549999 non-null  float64
 14  Y Coordinate          549999 non-null  float64
 15  Year                  549999 non-null  int64
 16  Updated On            549999 non-null  object
 17  Latitude              549999 non-null  float64
 18  Longitude             549999 non-null  float64
 19  Location              543087 non-null  object
dtypes: bool(2), float64(4), int64(4), object(10)
memory usage: 76.6+ MB

In [61]:
crime_set_df['Location Description'].fillna(crime_set_df['Location Description'].mode()[0], inplace = True)

In [62]:
crime_set_df.isnull().sum()

ID                         0
Case Number                0
Date                       0
Block                      0
IUCR                       0
Primary Type               0
Description                0
Location Description       0
Arrest                     0
Domestic                   0
Beat                       0
District                   0
FBI Code                   0
X Coordinate               0
Y Coordinate               0
Year                       0
Updated On                 0
Latitude                   0
Longitude                  0
Location                6912
dtype: int64

In [ ]:
crime_set_df['Location Description'].fillna(crime_set_df['Location Description'].mode()[0], inplace = True)